sbatch_*
resfinder_acc_alex.py

ncbi_genome
patric_genome
log
data/NCBI/

.vscode
errs
outs
Results

AMR_software/resfinder/db_*
__pycache__/

AMR_software/seq2geno/denovo/env/
AMR_software/seq2geno/examples/example_input/

kma/