resfinder_acc_alex.py

ncbi_genome
patric_genome
log
data/NCBI/

.vscode
.git.broken
errs
outs
Results
*.png

AMR_software/resfinder/db_*
__pycache__/

AMR_software/seq2geno/denovo/env/
AMR_software/seq2geno/examples/example_input/

kma/
build/

amr_benchmarking_transfer.tar.gz
results_xgb_lgr_combined_20250923.csv
chandar_best_results.csv